# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
* @aviadmizrachi @frontegg-david @rotemzif1 @amirjaron @MaxArnautFrontegg @TomerFrontegg @raz-shlomo-frontegg @mariavlasov @yuvalotem1 @isra-frontegg @AtaliaRefua @doregg @eran-frontegg
