name: Push Workflow
on:
  # When after commit pushed to branches not master nad release/next
  push:
    branches-ignore:
      - 'master'

concurrency:
  group: ci-push-${{ github.ref }}
  cancel-in-progress: true


env:
  CI: true
jobs:
  init:
    name: 'Install, Build and Test'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Read .nvmrc
        id: nvm
        run: echo "NODE_VERSION=$(cat .nvmrc)" >> $GITHUB_OUTPUT
      - name: Use Node.js ${{ steps.nvm.outputs.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ steps.nvm.outputs.NODE_VERSION }}
      - run: yarn clean
      - run: yarn install
      - run: yarn build
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libasound2 libnss3 libxshmfence1
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps chromium
      - name: Run Playwright tests
        run: npx playwright test
        env:
          DEBUG: "pw:webserver"
          FRONTEGG_TEST_URL: "http://localhost:3001"
          FRONTEGG_APP_URL: "http://localhost:3000"
          FRONTEGG_BASE_URL: "https://demo.frontegg.com"
          FRONTEGG_CLIENT_ID: "b6adfe4c-d695-4c04-b95f-3ec9fd0c6cca"
          FRONTEGG_ENCRYPTION_PASSWORD: "7adec29c60414777b30814da94db2263d8db827cd8d59c68434225e661b17eba"
      - name: Run Playwright tests
        run: cd packages/nextjs && yarn test
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 14
